<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% messages.forEach(function(message){ %>
        <div class="message">
        <p class="username">Name: <%= message.user %></p>
        <p class="message-text"><%= message.text %></p>
        <p class="message-date">Date: <%= message.added %></p>
        </div>    
      <% }); %>
        </ul>
        <a href="/new">Create new message</a>
  </body>
</html>
